@import url('https://fonts.googleapis.com/css?family=Roboto:400,500')

html
  font-size: 62.5%

body
  margin: 0
  font-family: 'Roboto', sans-serif
  font-size: 1.6rem

input:focus
button:focus
  outline: none

a:link
a:visited
a:active
  color: inherit

a:link
  text-decoration: none
